<!-- <input type="text" [(ngModel)]="title">
<hr/>
{{ title | titleCase }} //--- [example of a custom pipe that uses title-case.pipe to turn the an input string into title case] -->

<!-- <input type="text" [appInputFormat]="'uppercase'"> //--- [example of Custom Directive] -->

<!-- <app-view-modes></app-view-modes> //--- [use of ngSwitch]-->
<!-- <contact-form></contact-form>  //--- [example of Template Driven Form] -->
<!-- <app-signup-form></app-signup-form> //--- [example of Reactive Forms] -->
<!-- <app-new-course-form></app-new-course-form> //--- [example of Form Array] -->
<!-- <app-change-password></app-change-password> //--- [example of Form Builder] -->
<!-- <app-post-component></app-post-component> -->
<!-- <app-githhub-followers></app-githhub-followers> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
